@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
body {
    font-family: "Montserrat", sans-serif;
    color: rgb(203, 219, 219);
    /* background-color: #202020; */
    background: url("./../img/bg.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -------------------------------------------------------------------------- */


/*                                   Navbar                                   */


/* -------------------------------------------------------------------------- */

.navbar a {
    color: rgb(203, 219, 219);
}

.nav-item a:hover {
    color: rgba(18, 191, 18, 1);
}

.navbar-brand,
.navbar-brand:hover {
    font-family: "Shadows Into Light", cursive;
    font-size: 3.5rem;
    color: rgb(203, 219, 219);
}

@media only screen and(max-width:700px) {
    nav .navbar {
        margin: 0 1em;
    }
}


/* -------------------------------------------------------------------------- */


/*                                Main Content                                */


/* -------------------------------------------------------------------------- */

.main {
    padding: 2.5em;
    max-width: 780px;
    margin: 0 auto;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.342) 0px 20px 30px -10px;
    background-color: rgba(0, 0, 0, 0.842);
}

.main h1 {
    font-weight: bolder;
}


/* -------------------------------------------------------------------------- */


/*                                   Homepage                                 */


/* -------------------------------------------------------------------------- */

.card-wrapper i {
    font-size: 3em;
}

.card-wrapper .card {
    border-radius: 1.5em;
}

.card-wrapper .card:hover {
    transform: scale(1.1);
}

.card {
    background: linear-gradient( 123deg, rgba(0, 94, 0, 1) 0%, rgba(18, 191, 18, 1) 100%);
}

.angry-animate:hover {
    -webkit-animation: rotate 1s linear 0s infinite normal;
    -moz-animation: rotate 1s linear 0s infinite normal;
    -ms-animation: rotate 1s linear 0s infinite normal;
    animation: rotate 1s linear 0s infinite normal;
}

.easter-egg,
.easter-egg:hover {
    color: transparent;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}


/* -------------------------------------------------------------------------- */


/*                                   Family Page                              */


/* -------------------------------------------------------------------------- */

#new_row_form,
.updateRecordForm {
    display: none;
}

.table,
td {
    color: rgb(203, 219, 219);
    vertical-align: baseline;
    border: none;
}


/* -------------------------------------------------------------------------- */


/*                               Dashboard Page                               */


/* -------------------------------------------------------------------------- */


/* ---------------------------------- Daily --------------------------------- */

.dashboard-daily {
    background-color: rgb(0, 0, 0);
    border-radius: 1em;
    box-shadow: -2px 29px 371px 42px rgba(202, 192, 192, 0.23);
    -webkit-box-shadow: -2px 29px 371px 42px rgba(202, 192, 192, 0.23);
    -moz-box-shadow: -2px 29px 371px 42px rgba(202, 192, 192, 0.23);
}

.dashboard-daily h3 {
    /* background-color: white; */
    max-width: 50%;
    margin: 0.5em auto;
    padding: 0.5em;
    color: rgb(201, 192, 192);
    border-radius: 1em;
    font-size: 1.8rem;
    font-family: "Shadows Into Light", cursive;
}

@media (max-width: 768px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 60%;
        *width: 60%;
        margin: 5px;
    }
}

@media (min-width: 768px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 100%;
        *width: 100%;
    }
    .dashboard-daily {
        max-width: 30%;
    }
    .dashboard-daily {
        box-shadow: -2px 29px 371px 42px rgba(202, 192, 192, 0.51);
        -webkit-box-shadow: -2px 29px 371px 42px rgba(202, 192, 192, 0.51);
        -moz-box-shadow: -2px 29px 371px 42px rgba(202, 192, 192, 0.51);
    }
}

@media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}

.week-row {
    font-size: 70%;
}

.dashboard-week h5 {
    background-color: white;
    max-width: 80%;
    margin: 0.5em auto;
    padding: 0.5em;
    color: black;
    border-radius: 1em;
    font-size: 1.3rem;
    /* font-family: "Shadows Into Light", cursive; */
}

.dashboard-week,
.btn-success {
    background-color: green;
    border-radius: 1em;
}

.btn-success,
.btn-success:hover {
    background-color: green;
}

.main-dashboard {
    padding: 2.5em;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.342) 0px 20px 30px -10px;
    background-color: rgba(0, 0, 0, 0.842);
}